<html>
    <head>
        <%- include('partials/header1.ejs') %>
       
        <!--<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css rel="stylesheet"> 
        <link rel="stylesheet" href="public/css/styles.css">
    -->

    </head>   
    <body style="background-color: rgb(10, 0, 18);">
        <%- include('partials/navbar3.ejs') %>
        <div class="row">
        <div class="column">
            <img class="imag2" src="/public/images/banner.jpg" alt="logo" style="width:105%" height="85">
            </div>
            <div class="column">
            <img class="imag2" src="/public/images/banner2.jpg" alt="logo" style="width:105%">
            </div>
            <div class="column">
            <img class="imag2" src="/public/images/banner5.jpg" alt="logo" style="width:105%" height="85">
            </div>
            <div class="column">
            <img class="imag2" src="/public/images/banner4.jpg" alt="logo" style="width:105%" height="85">
            </div>
        </div>
        <div class="container">
        <hr>    
        <h1 position: relative>Welcome to <b><u>Know Your Local</u></b> App</h1>
   
        <p></p>
            <p>In an era of digital connectivity and community-driven platforms, people can access to rich sources of information where they can discover and share their interests at their fingertips. People seek social platforms that help their discover and share unique meaningful places within their local environments.</p>
            <p>
            “Know Your Local” project proposes a web-based application, that is community-driven website where users can document locations of personal or cultural significance. The platform will support verified user accounts, structured data entry, and visual summarisation of meaningful interaction and discovery around their neighbourhood. 
            </p>
            <p>
            This platform aims to bridge geographic and social gaps by enabling users to interact with their neighbourhoods in a structured, secure, and visually engaging way. Through verified user accounts, interactive dashboards, and map-integrated summaries, “Know Your Local” supports both individual expression and collective discovery. The project is aimed in ethical design principles, prioritising privacy, inclusivity, and accessibility, and is built using a full-stack development approach with modern web technologies.
            </p>
<!-----
    <p><a href="auckland">Auckland</a> </p>
        <nav>
            <a href="/">Home</a>
            <a href="/auckland">Auckland</a>
            <a href="/beaches">Beaches</a>
            <a aria-disabled="true">Disabled</a>
        </nav>
     
        
            <h2>South Island</h2>
            <h4>Christchurch</h4>
            <h4>Dunedin</h4>
            <h2>North Island</h2>
            <a href="auckland">Auckland City &#1288588;</a>
            <h4>Wellington</h4>  
   --->   
        </div>
    </body>
</html>


