<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>   
    <body style="background-color: rgb(10, 0, 18);">
        <h2 style="color: red">Members only page.</h2>
        <%- include('partials/navbar4.ejs') %>
        <p style="color:#00f">
            Welcome to a Members only page. You are now logged in.
        </p>
        <p style="color:#7fae5d">
        <p><h3>Welcome to the Members’ Lounge!</h3></p>
        <p><h4>We’re delighted to have you here. This exclusive space has been designed to give our members priority access to insights, resources, and opportunities that aren’t available anywhere else. As part of our community, you’ll enjoy tailored content, secure tools, and a place where your voice truly matters. Take your time to explore, connect, and make the most of the benefits reserved just for you!
        </h4></p>
        </p>
    </div>
    </body>
</html>


